<div>
  <div class="flex py-10 gap-x-10">
    <%= render partial: 'shared/last_searched', locals: { last_searched: @last_searched } %>
    <%= render partial: 'shared/most_searched', locals: { most_searched: @most_searched} %>
  </div>
  <div class="w-1/2 pr-5">
    <%= render partial: 'shared/trending', locals: { last_hour: @last_hour , last_day: @last_day, last_week: @last_week, last_month: @last_month } %>
  </div>
