<div class="w-1/2">
  <h1 class="text-xl font-bold py-2 bg-gray-100 pl-5 rounded-lg" >Most Searched</h1>
  <% unless most_searched.present? %>
    <i>No Data</i>
  <% else %>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Term
            </th>
            <th scope="col" class="px-6 py-3">
              Total Hits
            </th>
          </tr>
        </thead>
        <tbody>
          <% most_searched.each do |log| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= log[:term] %>
              </th>
              <td class="px-6 py-4">
                <%= log[:hit_count] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
