
<div class="flex justify-center gap-x-5">
  <%= link_to 'Search', root_path, class: "#{@active_tab == 'search' ? 'font-bold' : ''}" %> | <%= link_to 'Analytics', analytics_index_path, class: "#{@active_tab == 'analytics' ? 'font-bold' : ''}" %>
</div>
